.App2 {
    text-align: center;
    background-color: #bbbbbb;
    text-align: center;
    color: black;
  }
  
  body{
    background-color: #bbbbbb;
    color: black;
    
  }
  
  p{
    text-align: center;
  }
  